<div class="container">
<div class="container-time">
    <h2 class="heading">Time Open</h2>
    <h3 class="heading-days">Monday-Friday</h3>
    <p>7am - 5pm</p>
    <p>12pm - 1pm (lunch/time)</p>

    <h3 class="heading-days">Saturday and Sunday</h3>
    <p>9 am - 5pm</p>
    <p>12pm - 1pm (lunch/time)</p>
    <h4 class="heading-phone">Appointment phone call: (123)-456-789</h4>
    
</div>

<div class="container-form">
    <div>
        <form action="#">
            <h2 class="heading heading-gold"><strong>Booking Appointment</strong></h2>

            <div class="form-field">
                <p>Your name</p>
                <input type="text" placeholder="Your name">
            </div>
            <div class="form-field">
                <p>Your e-mail</p>
                <input type="email" placeholder="Your e-mail">
            </div>
            <div class="form-field">
                <p>Date</p>
                <input type="date">
            </div>
            <div class="form-field">
                <p>Time</p>
                <input type="Time">
            </div>
            <div>
                <div class="form-field">
                    <p>Number of people assign</p>
                        <select name="select" id="#">
                            <option value="1">One person</option>
                            <option value="2">Two people</option>
                            <option value="3">Three people</option>
                            <option value="4">Four people</option>
                            <option value="5+">Five or more people</option>
                        </select>
                    </div>
                <button class= "btn">Submit</button>
            </div>

        </form>
    </div>

</div>

</div>
        <h1>Appointment_List</h1>
            <strong><h3>(Name) (Date,Time) (E-mail) (hair_cut_type) (cost)</h3></strong>
              
        <section id= "post">
        <div style="color: rgb(182, 142, 67)">
            <strong>
            <div class= "post" Name= "Yang" Date_Time= "12/10" E-amil= "yangchun@oregonstate.edu">
                <div class= "content">
                    <div class="post-info">
                        <p>(Yang) Dec10 9A.M. yangchun@oregonstate.edu Regular_Haircut ($25)</p>
                    </div>
                </div>         
            </div>

            <div class= "post" Name= "" Date_Time= "" E-amil= "">
                <div class= "content">
                    <div class="post-info">
                        
                        <p>(Jason) Dec10 2P.M jason@oregonstate.edu Lineup_only ($15)</p>
                    </div>
                </div>         

            <div class="appointments"></div>
         </div>

            <div class= "post" Name= "Yang" Date_Time= "12/10" E-amil= "yangchun@oregonstate.edu">
                <div class= "content">
                    <div class="post-info">        
                        <p>(Bussin) Dec10 3P.M. bensonbui@oregonstate.edu Full_package_haircut ($35)</p>
                    </div>
                </div>         
            </div>
        </strong>
        </div>
    </section>

</div>
