<div class="container">
<div class="container-time">
    <h2 class="heading">Time Open</h2>
    <h3 class="heading-days">Monday-Friday</h3>
    <p>7am - 5pm</p>
    <p>12pm - 1pm (lunch/time)</p>

    <h3 class="heading-days">Saturday and Sunday</h3>
    <p>9 am - 5pm</p>
    <p>12pm - 1pm (lunch/time)</p>
    <h4 class="heading-phone">Appointment phone call: (123)-456-789</h4>
    
</div>

<div class="container-form">
    <div>
        <form action="#">
            <h2 class="heading heading-gold"><strong>Booking Appointment</strong></h2>

            <div class="form-field">
                <p>Your name</p>
                <input type="text" placeholder="Your name">
            </div>
            <div class="form-field">
                <p>Your e-mail</p>
                <input type="email" placeholder="Your e-mail">
            </div>
            <div class="form-field">
                <p>Date</p>
                <input type="date">
            </div>
            <div class="form-field">
                <p>Time</p>
                <input type="Time">
            </div>
            <div>
                <div class="form-field">
                    <p>Number of people assign</p>
                        <select name="select" id="#">
                            <option value="1">One person</option>
                            <option value="2">Two people</option>
                            <option value="3">Three people</option>
                            <option value="4">Four people</option>
                            <option value="5+">Five or more people</option>
                        </select>
                    </div>
                <button class= "btn">Submit</button>
            </div>

        </form>
    </div>

</div>

</div>