<div class="container">
<div class="container-time">
    <h2 class="heading">Time Open</h2>
    <h3 class="heading-days">Monday-Friday</h3>
    <p>7am - 5pm</p>
    <p>12pm - 1pm (lunch/time)</p>

    <h3 class="heading-days">Saturday and Sunday</h3>
    <p>9 am - 5pm</p>
    <p>12pm - 1pm (lunch/time)</p>
    <h4 class="heading-phone">Appointment phone call: (123)-456-789</h4>
    
</div>

<div class="container-form">
    <div>
        <form action="#">
            <h2 class="heading heading-gold"><strong>Booking Appointment</strong></h2>

            <div class="form-field">
                <p>Your name</p>
                <input type="text" placeholder="Your name">
            </div>
            <div class="form-field">
                <p>Your e-mail</p>
                <input type="email" placeholder="Your e-mail">
            </div>
            <div class="form-field">
                <p>Date</p>
                <input type="date">
            </div>
            <div class="form-field">
                <p>Time</p>
                <input type="Time">
            </div>
            <div>
                <div class="form-field">
                    <p>Number of people assign</p>
                        <select name="select" id="#">
                            <option value="1">One person</option>
                            <option value="2">Two people</option>
                            <option value="3">Three people</option>
                            <option value="4">Four people</option>
                            <option value="5+">Five or more people</option>
                        </select>
                    </div>
                <button class= "btn">Submit</button>
            </div>
        </form>
    </div>
</div>

<div class="app-list">
            <h2>Appointment_List</h2>
            <h3>
                (Name) (Date,Time) (E-mail) (hair_cut_type) (cost)
            </h3>
        </div>

        
<section id= "post">
    <div class="place">
    <div style="color: rgb(182, 142, 67)">
        <div id="post-list">
            <div class= "content">
                <div class="post-info">
                    <button class= "cancel" type="cancel">Cancel</button>
                    <div class="info-name">
                        <p>Yang</p>
                    </div>
                    <div class="info-date">
                        <p>Dec 10</p>
                    </div>
                    <div class="info-time">
                        <p>10 A.M.</p>
                    </div>
                    <div class="info-email">
                        <p>yang@oregonstate.edu</p>
                    </div>
                    <div class="info-type">
                        <p>Full package haircut($35)</p>
                    </div>           
                </div>
            </div>
        </div>      
            
        <div id="post-list">
            <div class= "content">
                <div class="post-info">
                    <button class= "cancel" type="cancel">Cancel</button>
                    <div class="info-name">
                        <p>Jason</p>
                    </div>
                    <div class="info-date">
                        <p>Dec 10</p>
                    </div>
                    <div class="info-time">
                        <p>2 P.M.</p>
                    </div>
                    <div class="info-email">
                        <p>Jason@oregonstate.edu</p>
                    </div>
                    <div class="info-type">
                        <p>Regular Haircut ($25)</p>
                    </div>
                    
                </div>
            </div>  

        </div>

        <div id="post-list">
            <div class= "content">
                <div class="post-info">
                    <button class= "cancel" type="cancel">Cancel</button>
                    <div class="info-name">
                        <p>Bussin</p>
                    </div>
                    <div class="info-date">
                        <p>Dec 11</p>
                    </div>
                    <div class="info-time">
                        <p>9 A.M.</p>
                    </div>
                    <div class="info-email">
                        <p>bussin@oregonstate.edu</p>
                    </div>
                    <div class="info-type">
                        <p>Bread and mustache lineup($20)</p>
                    </div>
                    
                </div>
            </div>      

        </div>
    </div>
</div>
</section>